
*.md
.api-version
.python-version
.env
.DS_Store
.git
.gitignore


pyproject.toml
Makefile
Dockerfile
docker-compose.yml
poetry.lock
README.md
nohup.out

.history
.vscode

env
venv
docs
logs
upload
datastore
backup
cert
alembic/version/*