aiofiles==23.1.0
aiohttp==3.8.6
aiokafka==0.8.0
aioredis==2.0.1
aiosignal==1.3.1
alembic==1.8.1
alipay-sdk-python==3.6.584
amqp==5.1.1
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.2
asyncio-redis==0.16.0
asyncmy==0.2.8
asyncpg==0.27.0
attrs==23.1.0
backports.zoneinfo==0.2.1
bcrypt==4.0.1
billiard==4.2.0
blis==0.7.11
broadcaster==0.2.0
catalogue==2.0.10
celery==5.3.5
celery-redbeat==2.1.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpathlib==0.16.0
confection==0.1.3
cryptography==40.0.1
cymem==2.0.8
Deprecated==1.2.13
dill==0.3.6
dnspython==2.3.0
ecdsa==0.18.0
edge-tts==6.1.9
email-validator==1.3.1
exceptiongroup==1.1.2
fastapi==0.104.1
fastapi-pagination==0.12.12
frozenlist==1.4.0
greenlet==2.0.2
gunicorn==20.1.0
h11==0.14.0
httptools==0.5.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
kafka-python==2.0.2
kombu==5.3.3
langcodes==3.3.0
limits==2.8.0
loguru==0.6.0
Mako==1.2.4
MarkupSafe==2.1.2
minio==7.1.17
motor==3.1.1
multidict==6.0.4
murmurhash==1.0.10
numpy==1.24.4
orjson==3.8.9
packaging==22.0
passlib==1.7.4
permit-broadcaster==0.2.1
Pillow==9.2.0
pip-autoremove==0.10.0
preshed==3.0.9
prompt-toolkit==3.0.38
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.17
pydantic==2.5.1
pydantic-settings==2.1.0
pydantic_core==2.14.3
pyinstrument==4.6.1
pymongo==4.3.3
PyMySQL==1.0.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.5
pytz==2023.3
PyYAML==6.0
redis==4.5.4
requests==2.31.0
rsa==4.9
six==1.16.0
slowapi==0.1.7
smart-open==6.4.0
sniffio==1.3.0
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.0
srsly==2.4.8
starlette==0.27.0
starlette-csrf==1.4.5
tenacity==8.2.2
thinc==8.2.1
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
ua-parser==0.18.0
ulid-py==1.1.0
urllib3==2.0.6
user-agents==2.2.0
uvicorn==0.20.0
uvloop==0.17.0
vine==5.1.0
wasabi==1.1.2
watchfiles==0.19.0
wcwidth==0.2.6
weasel==0.3.4
websockets==11.0.1
wrapt==1.15.0
yarl==1.9.2
zipp==3.17.0
